.select2-container .select2-selection--single {
    height: auto !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 5px 20px 5px 8px;
    min-height: 28px;
}
.select2-container--open .select2-dropdown {
    top: 4px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100% !important;
}